            <gp-m2m-list :metas="metas" :model="metas[model].meta.columns['%s'].obj"
                :tableData="cdata[page - 1].__m2m_containers__['%s']" >{{
                        colsLabel['%s']
                }}</gp-m2m-list>
