            <el-input v-model="cdata[page - 1].__data__['%s']" @change="cache(cdata[page - 1], '%s')" autosize
                type="textarea" :prefix-icon="isCompute('%s') ? Monitor : ''" :readonly="readonly('%s')">
            </el-input>
